

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    padding:0;
    margin:0;
}

.wrapper{
    width: 100%;
    background: transparent;
    margin: 0 auto 0 auto;
    
}

.top{
    height:50px;
    width: 95%;
    border: 3px solid black;
    background: tan;
    margin: 0 auto 0 auto;
    padding: 4px;
}

.logheader{
    border: 3px solid black;
    background: tan;
    margin: 0 auto 0 auto;
    padding: 4px;
}

.regheader{
    border: 3px solid black;
    background: tan;
    margin: 0 auto 0 auto;
    padding: 4px;
}

.login{
    height: 150px;
    margin: 0 auto 0 auto;
    padding: 5px;
}

.register{
    height: 150px;
    margin: 0 auto 0 auto;
    padding: 5px;
    
}

.login input [type=userlog]{
    width: 250px;
    height: 30px;
    background: white;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    
}

.login input [type=userreg]{
    width: 250px;
    height: 30px;
    background: white;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    
}


.login input [type=passlog]{
    width: 250px;
    height: 30px;
    background: white;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    
}

.login input [type=passreg]{
    width: 250px;
    height: 30px;
    background: white;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}


.login input [type=button]{
    width: 260px;
    height: 35px;
    background: white;
    border: 1px solid rgba(255,255,255,0.6);
    cursor: pointer;
    border-radius: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
    
}























